name: Deploy to VPS


on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Stop and remove old container
        run: docker-compose down || true

      - name: Build new Docker image
        run: docker-compose build --no-cache

      - name: Start new container
        run: docker-compose up -d

      - name: Clean up old images
        run: docker image prune -f